:root {
    --main-background: #0a0e14;
    --form-background: #12181f;
    --main-text: #edf1f5;
    --secondary-text: #7c8896;
    --wallet-icon-background: rgba(58, 221, 142, 0.12);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--main-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}

.main {
    height: 70%;
    /* background-color: green; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulaires {
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulaires div.form {
    padding: 10px;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--form-background);
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 20px;
    margin-top: 20px;
}

input {
    border: none;
    background-color: transparent;
    height: 100%;
    width: 80%;
    color: var(--secondary-text);
}

.form form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: space-around;
}

.secondary-text {
    color: var(--secondary-text);
    font-weight: bold;
}

form div {
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60%;
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

div.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #3add8e;
    border-radius: 10px;
    color: black;
    width: 50%;
    height: 20%;
}

input[type="submit"] {
    font-weight: bold;
    margin: 5px;
    color: black;
    width: 100%;
}